apiVersion: apps/v1
kind: Deployment
metadata:
  name: oracle-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: oracle
  template:
    metadata:
      labels:
        app: oracle
    spec:
      containers:
      - name: oracle
        image: yavuzkaramert/homelab-oracle:latest # Burayı güncelle
        ports:
        - containerPort: 8000
        env:
        - name: NODE_NAME
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName