apiVersion: apps/v1
kind: Deployment
metadata:
  name: oracle-app
  labels:
    app: oracle
spec:
  replicas: 2
  selector:
    matchLabels:
      app: oracle
  template:
    metadata:
      labels:
        app: oracle
    spec:
      containers:
      - name: oracle
        image: yavuzkaramert/homelab-oracle:placeholder # Burayı güncelle
        ports:
        - containerPort: 8000
        resources:
          limits:
            memory: "128Mi"
            cpu: "200m"
        env:
        - name: NODE_NAME
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName