name: CI to Docker Hub

on:
  push:
    branches: [ "main" ] # Sadece main branch'ine push yapıldığında çalışır

jobs:
  build-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          # Homelab cihazları genelde ARM tabanlı (Pi gibi) olduğu için 
          # çoklu mimari desteği eklemek en iyi pratiktir.
          platforms: linux/amd64,linux/arm64
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/homelab-oracle:latest