name: CI to Docker Hub

permissions:
  contents: write

on:
  push:
    branches: ["main"]

jobs:
  build-push:
    if: github.actor != 'github-actions[bot]'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/homelab-oracle:${{ github.sha }}
            ${{ secrets.DOCKERHUB_USERNAME }}/homelab-oracle:latest

      - name: Update Kubernetes Manifests
        run: |
          sed -i "s|image: .*|image: ${{ secrets.DOCKERHUB_USERNAME }}/homelab-oracle:${{ github.sha }}|g" k8s/deployment.yaml

          git config --global user.name "GitOps Bot"
          git config --global user.email "bot@homelab.local"
          git add k8s/deployment.yaml
          git commit -m "chore(cd): update image tag to ${{ github.sha }} [skip ci]" || echo "No changes to commit"
          git push
